.floating-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FFFF;
    color: white;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: pointer;
}
.floating-button img {
    width: 80px; /* Defina a largura desejada */
    height: 80px; /* Defina a altura desejada */
}